
        body {
            background-color: #f4f7fc;
            font-family: 'Arial', sans-serif;
        }

        .container {
            max-width: 400px;
            margin-top: 100px;
            background-color: white;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }

        .container h2 {
            color: #20aca9;
            font-size: 1.8rem;
        }

        .alert {
            margin-top: 20px;
        }

        .form-control {
            border-radius: 50px;
        }

        .btn-primary {
            width: 100%;
            border-radius: 50px;
        }

        .text-center a {
            color: #C24096;
            text-decoration: none;
        }

        .text-center a:hover {
            text-decoration: underline;
        }

        .eye-icon {
            position: absolute;
            right: 15px;
            top: 60%;
            cursor: pointer;
            color: #C24096;
        }

        .password-container {
            position: relative;
        }
        .btn-custom {
            background-color: #20aca9; /* Color personalizado por defecto */
            color: white;
            border-radius: 50px;
            width: 100%;
            padding: 12px;
            font-size: 16px;
            transition: background-color 0.3s ease, transform 0.3s ease; /* Se añade la transición para el cambio de color */
        }
        
        .btn-custom:hover {
            background-color: #5EBC50; /* Nuevo color cuando el usuario pasa el mouse sobre el botón */
            transform: scale(1.05); /* Efecto de aumentar ligeramente el tamaño al pasar el mouse */
            cursor: pointer; /* Cambia el cursor a mano para mostrar que es un botón clickeable */
        }
        